{% extends "base.html" %}

{% block content %}
    <div class="container">
        <section id="home" style="padding: 80px 0; border-bottom: 1px solid #2a2a2a;">
            <h2 class="display-5 fw-bold">Overview</h2>
            <p class="lead">I am an engineer.</p>
            <p>I am interested in blah blah blah.</p>
        </section>

        <section id="skills" style="padding: 80px 0; border-bottom: 1px solid #2a2a2a;">
            <h2>Skills</h2>
            <div class="row">
                
                    <p><strong>Languages:</strong> Python, C++, MATLAB</p>
                    <p><strong>Hardware:</strong> Hardware: Schematic design (OrCAD, Allegro), SPICE simulation, ESP32, PCB bring-up &
                            validation, Bench testing (Oscilloscope), High voltage testing, CAD</p>
                    <p><strong>Embeded:</strong> Microcontrollers, Embedded C/C++, Real-time signal processing</p>

                
            </div>
        </section>

        <section id="experience" style="padding: 80px 0; border-bottom: 1px solid #2a2a2a;">
            <h2>Experience</h2>
            <h4>S&C Electric Company</h4>
            <p class="text-muted">Electrical Engineer</p>
            <ul>
                <li>Designed schematics and C/C++ embedded firmware for 10-channel sequencer to replace
commercial units costing over $20k, providing precise timing for zero-crossing making/breaking.</li>
                <li>Led development, validation, and implementation of 10 test rack units to improve high power lab
infrastructure including schematic design and a Python Tkinter GUI.</li>
                <li>Performed SPICE simulations, high voltage testing, and fixture design for arc voltage
measurement during vacuum interrupter testing.</li>
                <li>Supported high power lab systems by designing Arduino-based generator controller and power
supply board design testing system.</li>
            </ul>
        </section>

        <section id="education" style="padding: 80px 0; border-bottom: none;">
            <h2>Education</h2>
            <div class="mb-3">
                <h5 class="mb-0">Michigan State University</h5>
                <p class="mb-0">MS in Electrical & Computer Engineering | 3.8 GPA</p>
                <p class="text-muted small">Specialization Semiconductor Manufacturing, Processing, and Devices Graduate Certificate</p>
                <p class="mb-0">BS in Electrical & Computer Engineering | 3.5 GPA</p>
                <p class="text-muted small">Specialization in Smart Systems</p>
            </div>
        </section>
    </div>
{% endblock %}