{% extends "base.html" %}

{% block content %}
<div class="container">
    <section id="projects-header" style="padding: 40px 0; border-bottom: none !important;">
        <h2 class="fw-bold">PROJECTS</h2>
        <p class="text-muted lead mb-0">A collection of work spanning hardware design, embedded systems, python modeling, power electronics, 
            and hardware design—bridging the gap between academic research and industrial R&D..</p>
    </section>
    
    <section id="projects-grid" style="padding: 80px 0; border-bottom: none;">
        <div class="row g-4">
            <div class="col-md-6">
                <div class="p-4 border border-secondary rounded">
                    <h3 class="h5 mb-3">S&C Electric Automated Test System</h3>
                    <p class="small text-muted">A custom test rack designed for high power laboratory applications.</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">More Info</a>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="p-4 border border-secondary rounded">
                    <h3 class="h5 mb-3">This Website</h3>
                    <p class="small text-muted">A personal portfolio website built with Flask and Bootstrap.</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Github Repo</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-4 border border-secondary rounded">
                    <h3 class="h5 mb-3">Capstone Project with Texas Instruments</h3>
                    <p class="small text-muted">Radar based slope measurement system</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">More Info</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}